.main {
    position: relative;
    width: 1536px;
    height: 484px;
    }
    .main .categories {
    position: fixed;
    width: 1536px;
    height: 484px;
    top: 10%;
    left: 10%;
    }
    .main .category {
    left: 1191px;
    position: absolute;
    width: 345px;
    height: 484px;
    top: 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000080;
    box-shadow: 10px 10px 30px #0000001a;
    }
    .main .overlap {
    position: relative;
    width: 310px;
    height: 443px;
    top: 21px;
    left: 19px;
    }
    .main .overlap-group {
    position: absolute;
    width: 310px;
    height: 389px;
    top: 0;
    left: 0;
    }
    .main .product-image {
    position: absolute;
    width: 308px;
    height: 310px;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 10px #0000001a;
    background-image: url(./assets/p4.png);
    border-radius: 10px;
    background-size: cover;
    background-position: 50% 50%;
    }
    .main .text {
    position: absolute;
    width: 310px;
    height: 80px;
    top: 302px;
    left: 0;
    }
    .main .div {
    position: absolute;
    width: 308px;
    height: 80px;
    top: 0;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.9px;
    }
    .main .text-wrapper {
    color: #000000b2;
    }
    .main .span {
    color: #000000;
    }
    .main .CTA-button {
    position: absolute;
    width: 308px;
    height: 54px;
    top: 389px;
    left: 0;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(50, 35, 144, 1) 0%, rgba(28, 19, 97, 1) 100%);
    }
    .main .group {
    position: relative;
    width: 310px;
    height: 54px;
    }
    .main .text-wrapper-2 {
    position: absolute;
    width: 308px;
    height: 54px;
    top: 15px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
   
    letter-spacing: 0;
    line-height: normal;
    }
    .main .overlap-wrapper {
    left: 794px;
    position: absolute;
    width: 345px;
    height: 484px;
    top: 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000080;
    box-shadow: 10px 10px 30px 0000001a;
    }
    .main .product-image-2 {
    background-image: url(./assets/p3.png);
    border-radius: 10px;
    position: absolute;
    width: 308px;
    height: 310px;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 10px #0000001a;
    background-size: cover;
    background-position: 50% 50%;
    }
    .main .overlap-group-wrapper {
    left: 397px;
    position: absolute;
    width: 345px;
    height: 484px;
    top: 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000080;
    box-shadow: 10px 10px 30px #0000001a;
    }
    .main .product-image-3 {
    background-image: url(./assets/p2.png);
    position: absolute;
    border-radius: 10px;
    width: 308px;
    height: 310px;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 10px #0000001a;
    background-size: cover;
    background-position: 50% 50%;
    }
    .main .div-wrapper {
    left: 0;
    position: absolute;
    width: 345px;
    height: 484px;
    top: 0;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000080;
    box-shadow: 10px 10px 30px #0000001a;
    }
    .main .product-image-4 {
    background-image: url(./assets/p1.png);
    position: absolute;
    border-radius: 10px;
    width: 308px;
    height: 310px;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 10px #0000001a;
    background-size: cover;
    background-position: 50% 50%;
    }
    