.box {
    position: relative;
    width: 100%;
}

/* Announcement Bar */
.announcement-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0%;
    background: linear-gradient(
        180deg,
        rgb(39, 27, 117) 0%,
        rgb(39, 27, 117) 100%
    );
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.announcement-overlap-group {
    position: relative;
    width: 100%;
}

/* Style for announcement text */
.announcement-text {
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

/* Navbar */
.nav-bar {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 60px; /* Offset by the height of the announcement bar */
    left: 0%;
    background-color: #ffffff;
    border-bottom: 1px solid #271b7566;
}

.nav-bar .logo {
    position: absolute;
    width: 147px;
    height: 60px;
    top: 4px;
    /* left: 191px; */
    left: 10%;
    object-fit: cover;
}

.nav-bar .nav {
    position: absolute;
    /* width: 265px; */
    width: 13.8%;
    height: 40px;
    top: 15px;
    /* left: 1462px; */
    left: 76%;
}

.nav-bar .nav-right {
    position: relative;
    /* width: 267px; */
    width: 14%;
    height: 40px;
}

.nav-bar .login {
    position: absolute;
    /* width: 72px; */
    width: 3.8%;
    height: 40px;
    top: 0;
    left: 195px;
}

.nav-bar .nav-overlap-group {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #271b75;
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 6px;
}

.nav-bar .text-wrapper {
    position: absolute;
    height: 16px;
    top: 10px;
    left: 25px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-bar .avatar {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 5px;
    object-fit: cover;
}

.nav-bar .cart {
    position: absolute;
    width: 72px;
    height: 40px;
    top: 0;
    left: 105px;
}

.nav-bar .overlap {
    background-color: #271b75;
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 6px;
}

.nav-bar .shopping-cart-white {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 16px;
    object-fit: cover;
}

.nav-bar .div {
    position: absolute;
    width: 12px;
    height: 16px;
    top: 12px;
    left: 41px;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-bar .text-wrapper-2 {
    position: absolute;
    height: 16px;
    top: 12px;
    left: 36px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-bar .search {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 0;
    object-fit: cover;
}

.nav-bar .navbar {
    position: absolute;
    width: 406px;
    height: 70px;
    top: 0; /* Align it at the top of the navbar */
    left: 50%; /* Horizontally center */
    transform: translateX(-50%); /* Adjust to perfectly center */
    display: flex;
    justify-content: space-between; /* Evenly space the items */
    align-items: center; /* Vertically center the items */
}

.nav-bar .text-wrapper-3,
.nav-bar .text-wrapper-4,
.nav-bar .text-wrapper-5,
.nav-bar .text-wrapper-6 {
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-bar .text-wrapper-3 {
    width: 53px;
    left: 0;
    color: #000000;
}

.nav-bar .text-wrapper-4 {
    width: 59px;
    left: 93px;
    font-weight: 600;
    color: #271b75;
}

.nav-bar .text-wrapper-5 {
    width: 77px;
    left: 192px;
    color: #000000;
}

.nav-bar .text-wrapper-6 {
    width: 89px;
    left: 309px;
    color: #000000;
}
