* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.announcement-bar {
    background: linear-gradient(90deg, #271b75 0%, #271b75 100%);
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
}

.announcement-bar p {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

/* Centering the navigation links */
.navbar {
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #ddd;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
